* {
  margin: 0;
  padding: 0;
}
.unselectable,
.unselectable > * {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
body,
html {
  backface-visibility: hidden;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
