img {
  max-width: 100%;
}
pre {
  overflow: scroll;
}
.article {
  --animate-duration: 1s;
}
pre {
  border: none !important;
  background-color: #f8f9fa !important;
  border-left: 2px #17a2b8 solid !important;
  border-radius: 0 !important;
}

@media only screen and (max-width: 800px) {
  .markdown-body {
    padding: 0 1rem;
  }
}

.markdown-body blockquote:hover,
.markdown-body .md-diagram-panel-preview:hover,
.markdown-body pre:hover,
.markdown-body .copyrightbox:hover,
.markdown-body .saying:hover,
.markdown-body img:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 -1px 0.5px 0 rgba(0, 0, 0, 0.09);
}

.markdown-body code:after,
.markdown-body code:before {
  display: none;
}

td.hljs-ln-code {
  padding-left: 10px !important;
}

.hljs-ln span {
  margin: 0 !important;
}

.markdown-body img {
  max-width: 100%;
  box-sizing: border-box;
  margin: auto;
  right: 0;
  display: block;
  margin: auto;
}

.editormd-html-preview blockquote,
.editormd-preview-container blockquote {
  padding-left: initial !important;
  padding: 10px !important;
  font-size: 13px !important;
  border-left: 2px #66c77d solid !important;
  background-color: ghostwhite;
}

a code {
  margin: 0 !important;
  padding: 0 !important;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  line-height: 1.4;
  padding-left: 14px;
}

.markdown-body h1 {
  border-left: 7px solid #17b888;
}
.markdown-body h2 {
  border-left: 6px solid #17b888;
}
.markdown-body h3 {
  border-left: 5px solid #17b888;
}
.markdown-body h4 {
  border-left: 4px solid #17b888;
}
.markdown-body h5 {
  border-left: 3px solid #17b888;
}
.markdown-body h6 {
  border-left: 2px solid #17b888;
}
