img {
  max-width: 100%;
}
pre {
  overflow: auto;
}
code {
  font-family: Times, "Times New Roman", serif !important;
}
.article {
  --animate-duration: 1s;
  word-wrap: break-word;
  word-break: normal;
}

.katexp {
  text-align: center;
  background-color: var(--table-header-color);
  padding: 1.2em 0.5rem;
  font-size: 15px;
  border-right: 2px solid var(--info-color-pressed);
  overflow: auto;
}

@media only screen and (max-width: 800px) {
  .markdown-body {
    padding: 0 1rem;
  }
}

pre code.hljs {
  padding: 1rem !important;
}

code.hljs {
  transition: background-color 0.8s;
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
  /* border: 1px solid rgba(216, 216, 216); */
}
code.hljs {
  padding: 3px 5px;
}

pre > code {
  word-wrap: normal !important;
  word-break: keep-all !important;
}

.markdown-body .katexp,
.markdown-body blockquote,
.markdown-body .md-diagram-panel-preview,
.markdown-body pre,
.markdown-body .copyrightbox,
.markdown-body .saying,
.markdown-body img {
  transition: transform 0.4s, box-shadow 0.5s;
  /* margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important; */
  margin-top: 0.25rem !important;
  margin-bottom: 0.75rem !important;
}

.markdown-body p,
.markdown-body ol,
.markdown-body ul {
  margin-top: 0.25rem !important;
  margin-bottom: 0.75rem !important;
}

.markdown-body .katexp:hover,
.markdown-body blockquote:hover,
.markdown-body .md-diagram-panel-preview:hover,
.markdown-body pre:hover,
.markdown-body .copyrightbox:hover,
.markdown-body .saying:hover {
  box-shadow: var(--box-shadow-1);
  /* transform: translateX(3px); */
}

.markdown-body code:after,
.markdown-body code:before {
  display: none;
}

td.hljs-ln-code {
  padding-left: 10px !important;
}

.hljs-ln span {
  margin: 0 !important;
}

.markdown-body a {
  background: 0 0;
  color: var(--success-color);
  text-decoration: none;
}

.markdown-body a:active,
.markdown-body a:hover {
  outline: 0;
  text-decoration: underline;
}

.markdown-body hr {
  margin: 15px 0;
  overflow: hidden;
  background: 0 0;
  border: 0;
  border-bottom: 1px solid var(--border-color);
}

.markdown-body h1,
.markdown-body h2 {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  /* border-bottom: 1px solid var(--border-color); */
}

.markdown-body img {
  max-width: 100%;
  box-sizing: border-box;
  margin: auto;
  right: 0;
  display: block;
  margin: auto;
}

.editormd-html-preview blockquote,
.editormd-preview-container blockquote {
  padding-left: initial !important;
  padding: 10px 20px !important;
  font-size: 13px !important;
  border-left: 2px var(--success-color) solid !important;
  background-color: var(--table-header-color);
  margin: 1rem 0;
}

/* .editormd-html-preview pre,
.editormd-preview-container pre {
  padding: 10px !important;
} */

.markdown-body blockquote > :first-child {
  margin-top: 0.25rem !important;
}

.markdown-body blockquote > :last-child {
  margin-bottom: 0.25rem !important;
}

a code {
  margin: 0 !important;
  padding: 0 !important;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  line-height: 1.4;
  padding-left: 14px;
  transform: translateX(-12px);
}

.markdown-body h1 {
  border-left: 10px solid var(--success-color-pressed);
}
.markdown-body h2 {
  border-left: 8px solid var(--success-color-pressed);
}
.markdown-body h3 {
  border-left: 6.5px solid var(--success-color-pressed);
}
.markdown-body h4 {
  border-left: 5px solid var(--success-color-pressed);
}
.markdown-body h5 {
  border-left: 4px solid var(--success-color-pressed);
}
.markdown-body h6 {
  border-left: 3px solid var(--success-color-pressed);
}

.katex-display {
  margin: 0;
}

.katex {
  font-size: 1rem;
  line-height: 1rem;
}

.markdown-body table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

.markdown-body > table {
  margin-bottom: 16px;
}

.markdown-body table th {
  font-weight: 700;
}

.markdown-body > table td,
.markdown-body > table th {
  padding: 6px 13px;
  border: 1px solid var(--border-color);
}
