#topbar {
  position: fixed;
  z-index: 202;
  height: 3rem;
  width: 100%;
  top: 0%;
  background-color: var(--ymain-color);
  border-radius: 0;
  margin-bottom: 0;
  z-index: 999;
}

#topbar li {
  transition: all .5s;
}

#articles_side_panel {
  position: fixed;
  margin: 0 auto;
  left: 0;
  top: 3rem;
  bottom: 0;
  width: 20rem;
  background-color: var(--ybackground-color);
  padding: .5rem 0 .5rem .5rem;
}

#cates_tree_body {
  padding: 3px .7rem;
  width: 18rem;
  margin: auto;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 -1px 0.5px 0 rgba(0, 0, 0, 0.09);
  overflow: auto;
  border-radius: 0 0 .25rem .25rem;
  margin-bottom: .5rem;
  font-size: 14px;
}

#cates_tree_body::-webkit-scrollbar {
  width: 2px !important;
}

#cates_tree_head,
#blog_statistic_head {
  height: 38px;
  background-color: var(--ymain-color);
  line-height: 38px;
  text-align: center;
  color: white;
  transition: background-color 2s;
  width: 18rem;
  margin: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 -1px 0.5px 0 rgba(0, 0, 0, 0.09);
  border-radius: .25rem .25rem 0 0;
}

#blog_statistic_body {
  padding: .2rem .7rem;
  width: 18rem;
  margin: auto;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 -1px 0.5px 0 rgba(0, 0, 0, 0.09);
  overflow: auto;
  border-radius: 0 0 .25rem .25rem;
  margin-bottom: .5rem;
}

#blog_statistic_body td {
  padding: .2rem .7rem;
  font-size: 14px;
}

.treenode {
  padding: 2.5px;
}

.treenode>li {
  margin-left: 1rem;
}

.treenode div {
  display: inline;
  color: #000;
  word-break: break-all;
  transition: all .2s;
  cursor: pointer;
}

.treenode div:hover {
  text-decoration-line: underline;
}

.adisable {
  cursor: not-allowed !important;
  color: rgb(187, 187, 187) !important;
  text-decoration-line: none !important;
}

#categories {
  display: none;
}

#docpanel {
  position: absolute;
  right: 0;
  left: 20rem;
  top: 3rem;
  bottom: 0;
  padding: .5rem 20px .5rem 0;
  background-color: var(--ybackground-color);
  transition: all .2s;
}

#sidetoccontainer {
  width: 20rem;
  position: fixed;
  right: 0;
  z-index: 220;
  background-color: var(--ybackground-color);
  margin: auto;
  bottom: 0;
  top: 0;
  overflow: auto;
}

#block {
  height: 3rem;
  background-color: var(--ymain-color);
  color: aliceblue;
  line-height: 3rem;
  text-align: center;
}

#percent {
  height: 3rem;
  background-color: var(--ymain-color);
  width: 100%;
  float: left;
  z-index: 999;
}

#percent:hover {
  background-color: var(--yminor-color);
}

.toc-h3 a,
.toc-h4 a,
.toc-h5 a,
.toc-h6 a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.toc-h3 {
  margin-left: 1.5rem;
}

.toc-h4 {
  margin-left: 2.5rem;
}

.toc-h5 {
  margin-left: 3rem;
}

.toc-h6 {
  margin-left: 4rem;
}

#sidetoc {
  border-left: 0.1rem var(--ydashed-color) dashed;
  position: absolute;
  margin: auto;
  top: 3rem;
  bottom: 0;
  padding: 20px 20px 20px 0px !important;
}

#sidetoc::-webkit-scrollbar {
  width: 2px !important;
}

#sidetoc li {
  margin: 4px !important;
}

#sidetoc ul {
  padding-left: 1.3rem;
  overflow: hidden;
  list-style-type: none;
}

.tocactive {
  background-color: rgb(212, 212, 212);
}

#sidetoc a {
  cursor: pointer;
  color: var(--ymain-color);
  text-decoration: none;
  width: 100%;
  position: relative;
  display: block;
  transition: all 0.3s ease-out;
  padding: 0 8px;
}

#sidetoc a:hover {
  background: #eee;
}

#sidetoc a:active {
  transform: translateY(3px);
}

#md {
  position: relative;
  transform: translateY(3rem);
  padding: 2rem 2rem;
  width: 65%;
  transition: transform 1.5s;
  margin: auto;
  font-size: 16px;
  background-color: var(--ybackground-color);
  max-width: 1000px;
  padding-bottom: 6rem;
}

#md table {
  display: block;
}

#hold {
  position: absolute;
  display: block;
  width: 100px;
  height: 500px;
  top: -500px;
}

.articlehead {
  color: rgb(83, 87, 90);
  margin: 0.9rem auto;
  transition: all .3s ease-in-out;
}

.articlecard {
  overflow: hidden;
  width: 95%;
  color: rgb(83, 87, 90);
  margin: 1rem auto 5rem;
  transition: all .3s ease-in-out;
  padding: 5px 20px;
  /* background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 -1px 0.5px 0 rgba(0, 0, 0, 0.09); */
  max-width: 700px;
}

.articlecard:hover {
  background-color: rgb(230, 230, 230);
}

.articlecard .editormd-html-preview {
  background-color: whitesmoke;
}

.articlecardtitle {
  padding: 5px 0;
  font-size: 23px;
  word-break: break-word;
  text-align: left;
  user-select: none;
  cursor: pointer;
  display: table;
  color: var(--main-color);
  text-decoration: none !important;
  font-family: 'Roboto Slab', 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif !important;
}

.articlecardtime {
  font-size: 12px;
  text-align: left;
  overflow: hidden;
  margin: 8px 0 0;
}

.articleshortmsg {
  overflow: hidden !important;
  font-size: 14px !important;
  font-weight: normal !important;
  margin: 8px 0;
}

.articleshortmsg * {
  margin: 8px 0 !important;
  font-size: 14px !important;
  font-weight: 100 !important;
}

.articleshortmsg .saying {
  text-align: left !important;
  padding: 0 !important;
  background-color: transparent !important;
  border-bottom: none !important;
  font-size: 14px !important;
  font-weight: normal !important;
  margin: 0 !important;
}

.articleshortmsg hr {
  display: none;
}

.articleshortmsg h1,
.articleshortmsg h2,
.articleshortmsg h3,
.articleshortmsg h4,
.articleshortmsg h5,
.articleshortmsg h6 {
  display: none;
}

.articlemore {
  color: rgb(46, 46, 46);
  text-decoration: none;
  display: inline-block;
  font-family: 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 14px;
}

.articlemore:hover {
  text-decoration: none;
  color: rgb(87, 124, 156);
}

#pgboxbox {
  position: relative;
  margin-top: 30px;
}

.pagebox {
  z-index: 100;
  position: relative;
  width: 100%;
  background-color: var(--ybackground-color);
}

.pageboxhide {
  opacity: 0;
  z-index: 10 !important;
  display: none;
}

.article img,
.articleshortmsg img {
  display: block;
  margin: auto;
  left: 0;
  right: 0;
}

.article img:hover {
  cursor: pointer;
}

.article img:active {
  cursor: pointer;
}

.articletitle {
  width: 100%;
  word-break: keep-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  text-decoration: none;
  transition: all .2s;
  font-weight: 500;
  font-size: 1rem;
  display: inline-block;
  line-height: 40px;
}

.articletime {
  font-size: 0.8rem;
}

.center-to-head {
  position: relative;
}

.center-to-head::after {
  left: 50%;
  content: '';
  display: block;
  /*开始时候下划线的宽度为100%*/
  width: 30%;
  height: 2px;
  position: absolute;
  background: rgb(83, 87, 90);
  transition: all 0.4s ease-in-out;
  /*通过transform的缩放scale来让初始时x轴为0*/
  transform: scale3d(0, 1, 1) translateX(-50%);
  /*将坐标原点移到元素的中间，以原点为中心进行缩放*/
  transform-origin: 50% 0;
}

.center-to-head:hover::after {
  /*鼠标经过时还原到正常比例*/
  transform: scale3d(1, 1, 1) translateX(-50%);
}

/* .article span {
  margin: 0 1px;
  font-size: 0.9rem;
  display: inline-block;
} */
.onearticle {
  width: 100%;
  border-bottom: 0.1rem var(--ydashed-color) dashed;
  margin-bottom: .5rem;
}

.onearticle>.articletitle {
  font-size: 2.3rem;
  font-weight: 100;
}

.onearticle>.articletitle:active {
  transform: none !important;
}

.ah {
  cursor: pointer;
  color: aliceblue;
  transition: all .2s;
}

.ah:hover {
  color: var(--yfont-minor-color);
}

.ah:active {
  color: var(--yfont-minor-color);
}

#reader {
  padding: 1rem;
}

#notice {
  text-align: center;
}

.myhide {
  height: 0 !important;
  opacity: 0 !important;
  z-index: -1 !important;
}

.myshow {
  opacity: 1 !important;
  z-index: 201 !important;
}

.remove {
  display: none;
}

.metadata {
  background-color: #ebebeb;
  color: var(--ymain-color);
  /* border-radius: 1rem; */
  margin: 1rem 0 2rem 0;
}

.metadatahead {
  background-color: var(--ydashed-color);
  color: var(--ymain-color);
  /* border-radius: 0.8rem 0.8rem 0 0; */
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 1rem;
}

.metadatabody {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1rem;
  line-height: 2rem;
  padding: 0.5rem 1rem;
}

.saying {
  text-align: center;
  padding: .5rem 1rem;
  background-color: #f8f9fa;
  font-size: 1rem;
}

.saying-quote {
  font-size: 30px;
  width: 20px;
}

.articleshortmsg .saying-quote {
  display: none;
}

.saying-left-quote {
  float: left;
}

.saying-right-quote {
  float: right;
}

#homepage {
  position: absolute;
  background-color: var(--yfunction-color);
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  color: var(--yfont-minor-color);
  font-size: 4rem;
  transition: all .4s;
  font-weight: 200;
  margin: auto;
  top: 3rem;
  bottom: 0;
  background: url(https://cdn.jsdelivr.net/gh/youyinnn/youyinnn.github.io@master/img/wp.jpg);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #262c3a;
}

#hacknical_github_analysis {
  min-width: 98% !important;
  min-height: 98% !important;
  *width: 98% !important;
  *height: 98% !important;
  width: 1px !important;
}

.hacknical_hide {
  opacity: 0;
  z-index: -1 !important;
}

#ifwrapper {
  z-index: 998;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  width: 95%;
  height: 95%;
  margin: auto !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  top: 0 !important;
  position: absolute !important;
}

.friendcard {
  margin: 0 auto;
  width: 30rem;
}

.todohead {
  line-height: 4rem;
  font-size: 2rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem var(--ydashed-color) dashed;
  padding-bottom: .6rem;
}

#scriptsearcher {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  width: 50%;
  bottom: 1rem;
  z-index: 500;
}

#scriptsearcher * {
  border-radius: initial;
}

.searchshow {
  opacity: 0.6;
}

.searchshow:hover {
  opacity: 1 !important;
}

.issuesbody {
  background-color: var(--ymain-color);
}

#bbt {
  position: fixed;
  right: 3rem;
  bottom: 1rem;
  z-index: 999;
  line-height: 2.375rem;
  height: 2.375rem;
}

#bbt a {
  float: left;
}

#gohub {
  background-color: var(--ymain-color);
  padding: 0 0.5rem;
  display: inline-block;
  color: aliceblue;
  text-align: center;
  text-decoration: none;
  transition: all .2s;
}

#toc {
  text-decoration: none;
  background-color: var(--ymain-color);
  padding: 0 0.5rem;
  display: inline-block;
  color: aliceblue;
  text-align: center;
}

#gohub:hover {
  background-color: var(--yminor-color);
}

#toc:hover {
  background-color: var(--yminor-color);
}

#toc:active {
  transform: translateY(0.2rem);
}

#gohub:active {
  transform: translateY(0.2rem);
}

.getnothing {
  animation: getnothing 1s;
}

@keyframes getnothing {
  50% {
    background-color: rgba(248, 166, 166, 0.781);
  }
}

#searchbut {
  width: 5rem;
}

#commentline {
  margin-top: 4rem;
  border: 2px var(--yminor-color) dashed;
  width: 100%;
}

#articleshare button {
  border-radius: 0;
  padding: 5px;
  font-size: 12px;
}

#sharetag {
  font-weight: bold;
  cursor: default;
}

#sharetag:focus {
  box-shadow: inherit;
}

#articleshare {
  right: 2rem;
}

#nocomment {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

#nocomment>a {
  font-size: 1rem;
}

.dropdown-item {
  z-index: none;
}

#homepage-center {
  margin-left: 100px;
}

#showmore,
#showhacknical,
#toarticles {
  text-align: left;
  cursor: pointer;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.2rem;
  transition: all .4s;
  margin-left: 40px;
  width: 250px;
}

#showmore:hover,
#toarticles:hover,
#showhacknical:hover {
  background-color: #dc35d90a;
}

#showmore:active,
#toarticles:active,
#showhacknical:active {
  transform: translateY(4px);
}

.pagination {
  margin: auto;
}

#pnbox {
  z-index: 200;
  position: absolute;
  text-align: center;
  margin: -3rem auto 1rem;
  border-top: rgb(202, 202, 202) 1px solid;
  max-width: 700px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: whitesmoke;
}

.page-link {
  border: none !important;
  background-color: whitesmoke !important;
  color: #555 !important;
}

.page-link:hover {
  background-color: rgb(202, 202, 202) !important;
}

.page-link:active {
  background-color: rgb(223, 223, 223) !important;
}

.page-item.active .page-link {
  background-color: rgb(202, 202, 202) !important;
}

#articlesearch {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 -1px 0.5px 0 rgba(0, 0, 0, 0.09);
  width: 100%;
  border-radius: 0.25rem;
  z-index: 200;
  overflow: hidden;
}


.tgs {
  position: absolute !important;
  z-index: 300;
  background-color: white;
  padding: 1rem;
  transform: translateY(0rem);
  overflow-x: hidden;
  overflow-y: auto;
  left: 0;
  right: 0;
  color: #343a40;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 -1px 0.5px 0 rgba(0, 0, 0, 0.09);
  height: 20rem;
  margin-right: 20px;
}

.stgt {
  margin: 6px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 -1px 0.5px 0 rgba(0, 0, 0, 0.09) !important;
}

.stgc {
  margin: 6px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 -1px 0.5px 0 rgba(0, 0, 0, 0.09) !important;
}

.myblur {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

/* placeholder居中 */
#articlesearchtext:-moz-placeholder {
  text-align: center;
}

#articlesearchtext::-moz-placeholder {
  text-align: center;
}

#articlesearchtext:-ms-input-placeholder {
  text-align: center;
}

#articlesearchtext::-webkit-input-placeholder {
  text-align: center;
}

#searchprocessbar {
  height: 38px;
  width: 38px;
  position: absolute;
  right: 155px;

  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  opacity: 0;

  z-index: 300;
}

.opshow{
  opacity: 1 !important;
}

.spb-outter-animate {
  position: absolute;
  border: 2px solid #48b69a;
  border-left-color: transparent;
  border-bottom: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
  animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@-webkit-keyframes loader-1-outter {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-1-outter {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spb-inner-animate {
  position: absolute;
  border: 2px solid #48b69a;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border-right: 0;
  border-top-color: transparent;
  -webkit-animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
  animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
}

@-webkit-keyframes loader-1-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes loader-1-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

#searchrscount {
  height: 10px;
  position: absolute;
  display: inline-block;
  z-index: 999;
  font-size: 14px;
  right: 0;
  margin-right: 20px;
  margin-top: 5px;
  opacity: 0;

  color: #36917a;
}

.tochide {
  opacity: 0;
  transform: translateX(100%);
}

.tocshow {
  opacity: 1;
  z-index: 203 !important;
}

#loadingslogan {
  margin-top: 2rem;
  text-align: center;
}

.imglg {
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: var(--yminor-color) 0.1rem dashed !important;
  opacity: 0;
  z-index: 999;
  cursor: pointer;
  padding: 15px;
  background-color: white;
}

.curtain {
  position: fixed;
  z-index: 988;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.con {
  column-count: 3;
}

.todo-card {
  float: left;
  width: 100%;
  margin: 0.5rem 0.2rem;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  word-wrap: break-word;
  word-break: normal;
  border: 1px solid #000;
}

.todo-head {
  width: 100%;
  padding: 0.3rem 1rem !important;
}

.todo-body {
  width: 100%;
  padding: 0.3rem 1rem !important;
}

.todo-text {
  width: 100%;
}

#nolabel {
  font-weight: bold;
  text-align: center;
  margin-top: 20rem;
  font-size: 2rem;
}

.hidetopbar {
  background-color: whitesmoke !important;
  height: 0 !important;
  padding: 0 !important;
}

.hidetopbar p,
.hidetopbar li,
.hidetopbar li::before {
  opacity: 0;
  transform: translateY(-100%);
}

.panelup {
  transform: translateY(0rem) !important;
}

#hb {
  border-style: solid;
  border-width: 0 0 3rem 3rem;
  border-color: transparent transparent rgb(72, 182, 154) transparent;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  cursor: pointer;
  transform: rotateZ(270deg);
}

#hb:hover {
  border-color: transparent transparent rgb(54, 134, 114) transparent;
}

#hb:active {
  transform: rotateZ(270deg) translateY(.9rem);
}

.resume {
  font-size: 1.25rem !important;
}

.resume blockquote>p {
  font-size: 1rem;
}

.collbut {
  float: right;
  font-size: 1rem;
  padding: .3rem .5rem;
  cursor: pointer;
  user-select: none;
  background-color: rgb(63, 71, 78);
  color: white;
  font-weight: 400;
}

.collbut:hover {
  background-color: rgb(100, 106, 114);
}

.collbut:active {
  transform: translateY(.9rem);
}

#acob {
  float: right;
  font-size: 1rem;
  padding: .3rem .5rem;
  cursor: pointer;
  user-select: none;
  background-color: rgb(63, 71, 78);
  color: white;
  font-weight: 400;
}

#acob:hover {
  background-color: rgb(100, 106, 114);
}

#acob:active {
  transform: translateY(.9rem);
}

.mycoll {
  overflow: hidden;
  transition: none !important;
}

.muv {
  color: aliceblue;
}

.mpgv {
  position: absolute;
  right: 3rem;
  top: 3rem;
}

.mpgvresume {
  position: absolute;
  right: 3rem;
  top: 1rem;
}

.gifbtn {
  display: block !important;
  margin: 1rem auto;
  left: 0;
  right: 0;
  transition: all .3s !important;
}

.gifbtn:active {
  transform: translateY(7px);
}

.showarrow {
  transition: color .7s, transform .4s;
  color: #5ac5a5;
}

.showarrow a {
  padding: 0 !important;
}

.showarrow a:before {
  opacity: 1 !important;
}

.panchor {
  display: table;
  cursor: pointer;
}

.panchor:hover {
  color: #3b5d75;
  transform: translateX(10px);
}

.panchorlink {
  width: 11px;
  height: auto;
  display: inline-block;
  margin-left: .5rem;
  font-size: 20px;
  line-height: 10px;
  transform: translateY(-.4em);
  opacity: 0;
}

#seriesbox {
  font-size: 12px;
  margin-bottom: 1rem;
  overflow: hidden;
  padding-bottom: .5rem;
  transition: all .4s ease-in-out;
}

.seboxhide {
  height: 0px !important;
  padding: 0 !important;
  overflow: hidden !important;
}

#seriesbox>div {
  padding: 4px 8px;
  cursor: pointer;
  color: #6d99cc !important;
  background-color: #dfdfdf63;
  border-left: #dfdfdf63 4px solid;
}

#seriesbox span {
  padding-left: 8px;
}

#seriesbox>div:hover {
  background-color: rgb(216, 215, 215);
}

.sa {
  float: left;
}

.sdate {
  float: right;
}

.adis {
  background-color: rgb(216, 215, 215) !important;
  border-left: #775ac5 4px solid !important;
  cursor: default !important;
}

#series-btn {
  font-size: 12px;
  padding: 3px 6px;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}

#series-btn:hover {
  background-color: rgb(221, 221, 221);
}

.card-header {
  padding: .2rem 1rem !important;
  font-size: 13px !important;
}

.card-body {
  padding: .5rem .8rem !important;
}

.comment {
  border-radius: .25rem;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12), 0 3px 40px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 -1px 0.5px 0 rgba(0, 0, 0, 0.09);
}

.comment p {
  margin-bottom: .2rem !important;
}

.katexp {
  text-align: center;
  background-color: #f8f9fa;
  padding: .5rem;
  font-size: 15px;
  border-right: 4px solid #80caff;
}

.katexp:hover {
  box-shadow: 0px 5px 10px -2px #777;
}

.copyrightbox {
  padding: 1.5rem;
  background-color: #ff00000f;
  border-left: solid #c01f1f 2px;
  margin-bottom: 1rem;
}

#share_png_panel {
  position: fixed;
  width: 100%;
  text-align: center;
  height: 100%;
  overflow: auto;
  top: 0;
  z-index: 1000;
}

#share_png_panel canvas {
  width: 100% !important;
  height: initial !important;
  padding: 10px;
  border: dashed #999;
}

#png_box {
  width: 90%;
  margin: auto;
  padding: 1rem;
  height: 100%;
  overflow: auto;
  position: absolute;
  z-index: 200;
  left: 0;
  right: 0;
}

#share_curtain {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #999999a3;
  z-index: 100;
}

#share_png_paned_close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 200;
  border-radius: 0;
}

#movebtn {
  top: 2.5rem;
}

#movebtn button {
  line-height: .6rem;
  height: 1.5rem;
  border-radius: 0;
  font-size: 14px;
}

.asciicast {
  margin: auto !important;
  left: 0;
  right: 0;
  width: inherit;
}

body.iframe .powered {
  text-align: left !important;
}

.bdgonarticlecard {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 -1px 0.5px 0 rgba(0, 0, 0, 0.09);
  border-radius: .25rem !important;
}

summary:hover {
  background-color: #dee2e6;
}

summary:focus {
  outline: none !important;
}

summary {
  margin-bottom: 1rem;
}

.markdown-body a,
.articleshortmsg a {
  color: #6d99cc !important;
}

.scripts .hidepic {
  margin: 0 !important;
  opacity: 0 !important;
  height: 0 !important;
}

.showpicbtn {
  user-select: none;
  cursor: pointer;
  display: block;
  color: #6d99cc;
}

.showpicbtn:hover {
  color: rgb(96, 64, 185);
}

.scripts {
  overflow-y: scroll !important;
}

.scripts * {
  font-size: 14px !important;
}

.markdown-body img {
  margin-bottom: 1rem;
}

.article h1 {
  font-size: 24px !important;
}

.article h2 {
  font-size: 22px !important;
}

.article h3 {
  font-size: 20px !important;
}

.article h4 {
  font-size: 18px !important;
}

.article h5 {
  font-size: 16px !important;
}

.no-transit * {
  transition: none !important;
}

#footer {
  text-align: right;
  font-size: .75em;
  color: #999;
}

#md.scripts h2,
#md.scripts h3 {
  position: absolute;
  padding: .5rem 1rem !important;
  margin: 1rem 1rem;
  left: 0;
  right: 0;
  background-color: var(--ymain-color);
  color: white;
  font-size: 16px !important;
  max-width: 1000px;
  font-weight: normal;
}

sb {
  position: absolute;
  display: block;
  overflow: hidden;
  padding: 1rem !important;
  margin: 3.5rem 1rem 1rem;
  left: 0;
  right: 0;
  background-color: white;
  max-width: 1000px;
}

sb pre {
  background-color: #f5f5f566 !important;
}

sb *:last-child {
  margin-bottom: 0 !important;
}

sb *:first-child {
  margin-top: 0 !important;
}

sb img {
  margin: initial auto !important;
}

.hide-script-block {
  display: none;
}

.show-script-block {
  display: block;
}

.fixtoc {
  transition: none !important;
  right: inherit !important;
  left: 0 !important;
}

.scripts-toc {
  border-left: none !important;
}

.fixmd {
  position: absolute !important;
  width: initial !important;
  overflow: hidden;
  left: 20rem;
  right: 0;
  bottom: 3rem;
  top: 0;
  padding: 0 1rem !important;
  max-width: initial !important;
}

.zip-tran {
  user-select: none;
  display: none;
}

.no-zip-tran {
  display: block;
  user-select: none;
  cursor: pointer;
}

.no-zip-tran:hover {
  background-color: #343a40 !important;
}

.no-zip-tran:active {
  transform: translateY(2px);
}

.showconsole {
  font-size: 12px;
  padding: 1px 4px;
  user-select: none;
  cursor: pointer;
  background-color: #ddd;
}

.showconsole:hover {
  background-color: rgb(199, 199, 199);
}