#topbar {
  position: relative;
  height: 3rem;
  width: 100%;
  top: 0%;
  background-color: #24292e;
  border-radius: 0;
  margin-bottom: 0;
}

#docpanel{
  position: relative;
  margin: 0 auto;
  overflow: auto;
}

#sidetoc {
  position: fixed;
  width: 25%;
  top: 3rem;
  right: 0;
  overflow: auto;
  border-left: 0.1rem #ccc dashed;
}
#md{
  position: absolute;
  top: 3rem;
  padding: 1rem 2rem;
  width: 75%;
}

.post{
  text-align: center;
  color: rgb(83, 87, 90);
  margin: 4rem auto;
  border-radius: 1rem;
  transition: all .6s ease-in-out;
}

.posttitle{
  text-decoration: none;
  transition: all .2s;
  font-weight: 500;
  font-size: 1.3rem;
  display: inline-block;
}
.posttitle:active{
  transform: translateY(0.2rem);
}

.center-to-head{
  position:relative;
}
.center-to-head::after{
  left: 50%;
  content:'';
  display:block;
  /*开始时候下划线的宽度为100%*/
  width:30%;
  height:2px;
  position:absolute;
  background: rgb(83, 87, 90);
  transition:all 0.4s ease-in-out;
  /*通过transform的缩放scale来让初始时x轴为0*/
  transform: scale3d(0,1,1) translateX(-50%);
  /*将坐标原点移到元素的中间，以原点为中心进行缩放*/
  transform-origin:50% 0;
}
.center-to-head:hover::after{
  /*鼠标经过时还原到正常比例*/
  transform:scale3d(1,1,1) translateX(-50%);
}

.post span{
  margin: 0 0.5rem;
  font-size: 0.9rem;
  display: inline-block;
}

.onepost{
  padding: 0 0 1rem 0;
  margin: 0;
  border-bottom: 0.1rem #ccc dashed;
}

.ah{
  color: aliceblue;
}

.ah:hover{
  color: rgb(166, 171, 175);
}

.ah:active{
  color: rgb(166, 171, 175);
}

#reader{
  padding: 1rem;
}

#notice{
  text-align: center;
}

.hide{
  opacity: 0;
  z-index: 0;
}

.show{
  opacity: 1;
  z-index: 100;
}

.remove{
  display: none;
}

.metadata{
  background-color: rgb(83, 87, 90);
  color:aliceblue;
  border-radius: 1rem;
  margin: 1rem 0 2rem 0;
}

.metadatahead{
  background-color: rgb(212, 214, 216);
  color: #24292e;
  border-radius: 0.8rem 0.8rem 0 0;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 1rem;
}

.metadatabody{
  padding: 0.5rem 1.5rem;
}

.saying{
  margin: 1rem 0;
  padding: 2rem 1rem;
  background-color: #f8f9fa;
  border-bottom: 2px black solid;
}

.saying:hover{
  border-radius: 2rem; 
}

#homepage{
  position: absolute;
  background-color: #212529;
  width: 100%;
  height: 48rem;
  text-align: center;
  line-height: 47rem;
  color:  #9e9e9e;
  font-size: 4rem;
  transition: all .2s;
  font-weight: 200;
}

#slogan:hover {
  color: white;
  font-size: 4.1rem;
}

.friendcard{
  margin: 0 auto;
  width: 30rem;
}