#topbar {
  position: absolute;
  z-index: 202;
  height: 3rem;
  width: 100%;
  top: 0%;
  background-color: var(--ymain-color);
  border-radius: 0;
  margin-bottom: 0;
}

#docpanel {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 3rem;
  bottom: 0;
}

#sidetoccontainer {
  position: fixed;
  right: 0;
  z-index: 220;
  background-color: white;
  margin: auto;
  bottom: 0;
  top: 0;
}

#block {
  height: 3rem;
  background-color: var(--ymain-color);
  color: aliceblue;
  line-height: 3rem;
  text-align: center;
}

#percent {
  height: 3rem;
  background-color: var(--ymain-color);
  width: 100%;
  float: left;
}

#percent:hover {
  background-color: var(--yminor-color);
}

#sidetoc {
  border-left: 0.1rem var(--ydashed-color) dashed;
  position: absolute;
  margin: auto;
  top: 3rem;
  bottom: 0;
}

#sidetoc a {
  transition: all .2s;
  color: var(--ymain-color);
  text-decoration: none;
}

#sidetoc a:hover {
  background-color: #9e9e9e;
}

#md {
  position: relative;
  top: 3rem;
  padding: 1rem 2rem;
  width: 100%;
  transition: width .5s;
}

#hold{
  position: absolute;
  display: block;
  width: 100px;
  height: 500px;
  top: -500px;
}

.post {
  text-align: center;
  color: rgb(83, 87, 90);
  margin: 3.5rem auto;
  border-radius: 1rem;
  transition: all .6s ease-in-out;
}

.posttitle {
  width: 80%;
  word-wrap: break-word;
  word-break: break-all;
  text-decoration: none;
  transition: all .2s;
  font-weight: 500;
  font-size: 1.3rem;
  display: inline-block;
}

.posttitle:active {
  transform: translateY(0.2rem);
}

.center-to-head {
  position: relative;
}

.center-to-head::after {
  left: 50%;
  content: '';
  display: block;
  /*开始时候下划线的宽度为100%*/
  width: 30%;
  height: 2px;
  position: absolute;
  background: rgb(83, 87, 90);
  transition: all 0.4s ease-in-out;
  /*通过transform的缩放scale来让初始时x轴为0*/
  transform: scale3d(0, 1, 1) translateX(-50%);
  /*将坐标原点移到元素的中间，以原点为中心进行缩放*/
  transform-origin: 50% 0;
}

.center-to-head:hover::after {
  /*鼠标经过时还原到正常比例*/
  transform: scale3d(1, 1, 1) translateX(-50%);
}

.post span {
  margin: 0 0.5rem;
  font-size: 0.9rem;
  display: inline-block;
}

.onepost {
  padding: 0 0 1rem 0;
  margin: 0;
  border-bottom: 0.1rem var(--ydashed-color) dashed;;
  margin-bottom: 1rem;
}

.onepost>.posttitle:active {
  transform: none !important;
}

.ah {
  color: aliceblue;
}

.ah:hover {
  color: rgb(166, 171, 175);
}

.ah:active {
  color: rgb(166, 171, 175);
}

#reader {
  padding: 1rem;
}

#notice {
  text-align: center;
}

.myhide {
  opacity: 0;
  z-index: 0 !important;
  transform: scale(0);
}

.myshow {
  opacity: 1;
  z-index: 201 !important;
}

.remove {
  display: none;
}

.metadata {
  background-color: #dee2e6;
  color: var(--ymain-color);
  border-radius: 1rem;
  margin: 1rem 0 2rem 0;
}

.metadatahead {
  background-color: var(--ydashed-color);
  color: var(--ymain-color);
  border-radius: 0.8rem 0.8rem 0 0;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 1rem;
}

.metadatabody {
  font-size: 1rem;
  line-height: 2rem;
  padding: 0.5rem 1rem;
}

.saying {
  text-align: center;
  margin: 1rem 0;
  padding: 2rem 1rem;
  background-color: #f8f9fa;
  border-bottom: 2px black solid;
  font-size: 1rem;
  font-style: italic;
}

.saying:hover {
  border-radius: 2rem;
}

#homepage {
  position: absolute;
  background-color: #212529;
  width: 100%;
  text-align: center;
  line-height: 43rem;
  color: #9e9e9e;
  font-size: 4rem;
  transition: all .2s;
  font-weight: 200;
  margin: auto;
  top: 3rem;
  bottom: 0;
}

.friendcard {
  margin: 0 auto;
  width: 30rem;
}

.todohead {
  line-height: 4rem;
  font-size: 2rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem var(--ydashed-color) dashed;;
}

#scriptsearcher {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  width: 50%;
  bottom: 1rem;
  z-index: 999;
}

.searchshow {
  opacity: 0.3;
}

.searchshow:hover {
  opacity: 1 !important;
}

.issuesbody {
  background-color: var(--ymain-color);
}

#bbt{
  position: fixed;
  right: 3rem;
  bottom: 1rem;
  z-index: 999;
  line-height: 2rem;
  height: 2rem;
}

#gohub{
  background-color: var(--ymain-color);
  padding: 0 0.5rem;
  display: inline-block;
  color: aliceblue;
  text-align: center;
  text-decoration: none;
}

#toc{
  text-decoration: none;
  background-color: var(--ymain-color);
  padding: 0 0.5rem;
  display: inline-block;
  color: aliceblue;
  text-align: center;
}

#gohub:hover {
  background-color: rgb(166, 171, 175);
}

#toc:hover {
  background-color: rgb(166, 171, 175);
}

#toc:active {
  transform: translateY(0.5rem);
}

#gohub:active {
  transform: translateY(0.5rem);
}

.getnothing {
  animation: getnothing 1s;
}

@keyframes getnothing {
  50% {
    background-color: rgb(211, 61, 61);
  }
}

#searchbut {
  width: 5rem;
}

#commentline {
  margin-top: 3rem;
  border: 2px var(--yminor-color) dashed;
  width: 100%;
}

#nocomment {
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

#nocomment>a {
  font-size: 1rem;
}

.dropdown-item {
  z-index: none;
}

#showmore {
  position: absolute;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.2rem;
  width: 100%;
  top: 26rem;
  transition: all .2s;
}

#showmore:hover {
  font-size: 1.3rem;
  color: white;
}

#showmore:active {
  transform: translateY(4px);
}

.pagination {
  margin: auto;
  position: fixed;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  bottom: 2rem;
  z-index: 999;
}

.pagebox {
  position: absolute;
  width: 100%;
}

#postsearch {
  width: 100%;
  background-color: #212529;
}

#postsearchtext {
  border-radius: 0;
}

.tgs {
  position: absolute !important;
  z-index: 300;
  width: 100%;
  background-color: #e9ecef;
  padding: 0 1rem;
  border-bottom: #474f57 2px dashed;
  transform: translateY(0rem);
  overflow: hidden;
}

.stgt {
  margin: 6px;
}

.stgc {
  margin: 6px;
}

.pagination {
  position: fixed;
  bottom: 1rem;
}

.myblur {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

/* placeholder居中 */

#postsearchtext:-moz-placeholder {
  text-align: center;
}

#postsearchtext::-moz-placeholder {
  text-align: center;
}

#postsearchtext:-ms-input-placeholder {
  text-align: center;
}

#postsearchtext::-webkit-input-placeholder {
  text-align: center;
}

.tochide {
  opacity: 0;
  width: 0% !important;
}

.tocshow {
  opacity: 1;
  width: 25%;
  z-index: 203 !important;
}

#loadingslogan{
  margin-top: 2rem;
  text-align: center;
}