@media screen and (max-width: 536px) {
  #topbar {
    height: 6rem;
  }
  #docpanel{
    height: 30rem;
  }
  #md{
    top:6rem;
    width: 100%;
  }
  #sidetoc{
    display: none;
  }
  #homepage{
    height: 29rem;
    line-height: 27rem;
    font-size: 2rem;
  }
  #slogan:hover{
    height: 28rem;
    line-height: 27rem;
    font-size: 2.1rem;
  }
  #loading{
    padding: 125px 0;
  }
  .friendcard{
    margin: 0 auto;
    width: 20rem;
  }
}